@model IEnumerable<CodeFirstProject.Models.Student>
@{
    ViewBag.Title = "Students";
}

<h2>Students</h2>
<p>@Html.ActionLink("Add New Student", "Create", "Students")</p>

<table class="table">
    <thead>
        <tr>
            <th>Name</th>
            <th>Actions</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var student in Model)
        {
            <tr>
                <td>@student.Name</td>
                <td>
                    @Html.ActionLink("Edit", "Edit", "Students", new { id = student.Id }, null) |
                    @Html.ActionLink("Delete", "Delete", "Students", new { id = student.Id }, null)
                </td>
            </tr>
        }
    </tbody>
</table>
