@{
    ViewBag.Title = "Contact ";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Contact</h2>

@using (Html.BeginForm("Contact", "Contact"))
{
    <div class="form-group">
        <label>Name</label>
        <input type="text" name="Text" class="form-control" />
    </div>
    <div class="form-group">
        <label>Age</label>
        <input type="number" name="Number" class="form-control" />
    </div>
    <div class="form-group">
        <label>Gender</label>
        <div>
            <input type="radio" name="RadioOption" value="Male" /> Male
            <input type="radio" name="RadioOption" value="Female" /> Female
        </div>
    </div>
    <div class="form-group">
        <label>Specialization</label>
        <select name="SelectOption" class="form-control">
            <option value="IT Specialist">IT Specialist</option>
            <option value="Data Scince">Data Scince</option>
        </select>
    </div>
    <div class="form-group">
        <label>Major</label>
        <select name="MultiSelectOptions" class="form-control" multiple="multiple">
            <option value="Full-Stack Developer">Full-Stack Developer</option>
            <option value="Data Analysis">Data Analysis</option>
            <option value="Statistics">Statistics</option>
            <option value="QA">QA</option>
        </select>
    </div>
    <button type="submit" class="btn btn-primary">Submit</button>
}
