
@{
    ViewBag.Title = "Login";
}

@using (Html.BeginForm())
{

    <main>
        <div class="container">
            <section class="hero">
                <h2>Login</h2>
                <p>Please enter your credentials to log in.</p>
            </section>
            <section class="content">
                <h3>Login Form</h3>
                <form action="#" method="post">
                    <div>
                        <label for="username">Username:</label>
                        <input type="text" id="Email" name="Email" required>
                    </div>
                    <div>
                        <label for="password">Password:</label>
                        <input type="password" id="password" name="Password" required>
                    </div>
                    <div>
                        <button type="submit">Login</button>
                    </div>
                </form>
            </section>
        </div>
    </main>
}