
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_LayoutMedical.cshtml";
}

<h2>Home Page</h2>

<main>
    <div class="container">
        <section class="hero">
            <h2>Welcome to My Website!</h2>
            <p>This is the home page. Here you will find the latest updates and news.</p>
        </section>
        <section class="content">
            <h3>Latest Articles</h3>
            <article>
                <h4>Article Title 1</h4>
                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Integer nec odio. Praesent libero. Sed cursus ante dapibus diam.</p>
                <a href="article1.html">Read more...</a>
            </article>
            <article>
                <h4>Article Title 2</h4>
                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Integer nec odio. Praesent libero. Sed cursus ante dapibus diam.</p>
                <a href="article2.html">Read more...</a>
            </article>
        </section>
    </div>
</main>